<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="footer-background"  *ngIf="contacts.length > 0">
    <ion-item style="background-color: #dbd7db; width: 100%; height: 100%; opacity: 0.8;" lines="none" color="none" *ngFor="let contact of contacts" (click)="display(contact)">
      <ion-item lines="none" color="none">
        <ion-label>{{contact.firstName}} {{contact.lastName}}</ion-label>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
